.chat-container {
  display: flex;
  height: 100vh;
  background-color: #141414;
  color: #befd73;
}

.channel-list {
  width: 200px;
  background-color: #141414;
  padding: 20px;
  color: #befd73;
  margin-top: 110px;
}

.channel-list ul {
  list-style-type: none;
  padding: 0;
}

.channel-list li {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  overflow-y: auto; /* Add this line */
  max-height: 100vh;
}

.channel-list li:hover {
  background-color: #3a3a3a;
}

.channel-list li.active {
  background-color: #befd73;
  color: #141414;
  font-weight: bold;
}

.chat-room {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: calc(100vh - 40px);
  background-color: #141414;
  color: #befd73;
}

.chat-room h2 {
  color: #befd73;
  margin-bottom: 1rem;
}

.messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 100px;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  max-width: 70%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.message.sent {
  align-self: flex-end;
  background-color: #2c2c2c;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.message.received {
  align-self: flex-start;
  background-color: #3a3a3a;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.message:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.user {
  font-weight: bold;
  font-size: 0.8rem;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #befd73;
  color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.message p {
  margin: 0;
  color: #ffffff;
  font-size: 0.95rem;
}

.chat-room form {
  display: flex;
  margin-top: auto;
  padding-top: 1rem;
  border-top: 1px solid #2c2c2c;
}

.chat-room input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #2c2c2c;
  border-radius: 5px 0 0 5px;
  background-color: #2c2c2c;
  color: #befd73;
  outline: none;
  transition: border-color 0.3s ease;
}

.chat-room input:focus {
  border-color: #befd73;
}

.chat-room button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #befd73;
  color: #141414;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  outline: none;
}

.chat-room button:hover {
  background-color: #9eda4d;
  transform: translateY(-2px);
}
